.photography{
    background-color: black;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
    width: 100vw;
}
.photoItem{
    position: relative;
    transition-duration: 0.3s;
}
.photoItem:hover{
    transform:  translateY(20px);
}
.photoItem img{
    width: 112px;
    height: 773px;
    object-fit: cover;
    z-index: -1;
}
.photoItem div{
    color: white;
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
    writing-mode: vertical-lr;
}
